###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> docker ###
/docker-compose.override.yml
.docker/*.log
###< docker ###

###> vue frontend ###
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.vitepress/dist/
###< vue frontend ###

###> IDEs ###
.idea/
*.iml
###< IDEs ###

###> OS junk ###
.DS_Store
Thumbs.db
###< OS junk ###

###> Logs ###
*.log
/logs/
###< Logs ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
