<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insider League</title>
    {{ vite_entry_link_tags('src/main.js') }}
</head>
<body>
    <div id="app"></div>
    {{ vite_entry_script_tags('src/main.js') }}
</body>
</html>
